    .logo-wrap{
        float:left;
        padding-left:30px;
    }
    .user-wrap{
        float:right;
        font-size:18px;
        padding-right:30px;
        .btn-group{
            cursor:pointer;
            float:left;
            margin:0 15px;
        }
    }